:root{
  --background-color-light: #D3D3D3;
  --background-color-dark: #212121;
  --font-color-dark: #292929;
  --font-color-light: #E5E5E5;
}

html{
  font-size: 10px;
  background-color: var(--background-color-dark);
}

body{
  background-color: var(--background-color-dark);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#app{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.display-group-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  padding: 2em;
}

.cspan-2{
  grid-column: span 2;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
  text-align: center;
}